{%extends 'netflex/base.html'%}
<!-- html -->
{% block content %}
<!-- static -->
{% load static%}
<!-- content -->

<!-- header -->
<div class="banner">
  <div class="banner__content">
    banner-content
    <!-- <h1 class="banner__title">Money Heist</h1>

    <div class="banner__buttons">
      <button class="banner__button">Play</button>
      <button class="banner__button">My List</button>
    </div>

    <div class="banner_description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, dicta
      voluptate saepe facilis ducimus sapiente.
    </div> -->
  </div>

  <div class="banner__fadeBottom"></div>
</div>
<!-- netflex originals -->
<div class="row">
  <h2>Netflex Originals</h2>
  <div class="row__posters">
    <img
      src="../../static/images/large-movie1.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie2.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie3.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie1.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie2.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie3.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie4.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie5.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie6.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie7.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
    <img
      src="../../static/images/large-movie8.jpg"
      alt=""
      class="row__poster row__posterLarge"
    />
  </div>
</div>

<!-- trending now -->
<div class="row">
  <h2>Trending Now</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- top rated -->
<div class="row">
  <h2>Top rated</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- Action movies -->
<div class="row">
  <h2>Action movies</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- Comedy movies -->
<div class="row">
  <h2>Comedy movies</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- Horror movies -->
<div class="row">
  <h2>Horror movies</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- Romance movies -->
<div class="row">
  <h2>Romance movies</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

<!-- Documentaries -->
<div class="row">
  <h2>Documentaries</h2>
  <div class="row__posters">
    <img
      src="../../static/images/small-movie1.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie2.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie3.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie4.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie5.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie6.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie7.jpg"
      alt=""
      class="row__poster"
    />
    <img
      src="../../static/images/small-movie8.jpg"
      alt=""
      class="row__poster"
    />
  </div>
</div>

{% endblock%}
