{%extends 'netflex/base.html'%}
<!-- html -->
{% block content %}

<!-- Bootstrap -->
{%load bootstrap4%}
<!-- static -->
{% load static%}
<!-- content -->

<!-- navbar -->
<div id="nav" class="navbar">
  <img src="../../static/images/netflix-logo.png" alt="" />
  <img src="../../static/images/netflix-avatar.png" alt="" />
</div>

<!-- header -->
<header>
  <img
    src="https://image.tmdb.org/t/p/w342/{{movie_highlight.poster_path}}"
    alt=""
  />

  <div class="header__content">
    <h1 class="header__title">{{movie_highlight.title}}</h1>
    <div class="buttons">
      <button class="buttons__btn">Watch Trailer</button>
      <button class="buttons__btn">More</button>
    </div>
    <p class="header__contentDescription">{{movie_highlight.overview}}</p>
  </div>

  <div class="bg-image"></div>
</header>

<div class="row-wrapper">
  <div class="row">
    <div class="row__title">Netflix Trending</div>
    <div class="scroll_wrapper">
      <button id="btn-left">
        <img src="../../static/images/left_next.png" alt="" />
      </button>

      <div class="row__posters" id="con">
        {% for movie in movies_trending %}

        <a href="{%url 'single_movie' movie.id%}">
          <img
            src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}"
            class="row__poster row__posterLarge"
            alt=""
            data-bs-toggle="modal"
            data-bs-target="#{{ movie }}"
          />
        </a>
        {% endfor %}
      </div>

      <button id="btn-right">
        <img src="../../static/images/right_next.png" alt="" />
      </button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="row__title mt-5">Popular movies</div>
    <div class="scroll_wrapper">
      <button id="btn-left1">
        <img src="../../static/images/left_next.png" alt="" />
      </button>

      <div class="row__posters" id="con1">
        {% for movie in popular_movies %}

        <a href="{%url 'single_movie' movie.id%}">
          <img
            src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}"
            class="row__poster row__posterLarge"
            alt=""
            data-bs-toggle="modal"
            data-bs-target="#{{ movie }}"
          />
        </a>
        {% endfor %}
      </div>

      <button id="btn-right1">
        <img src="../../static/images/right_next.png" alt="" />
      </button>
    </div>
  </div>
</div>

{% endblock%}
